:root {
    --primary-color: #f3ead6;
    --secondary-color: #9e7756;
    --background-color: #ceb39b;
    --accent-color: #f26a6c;
    --accent-color2: #f2d6ce;
}

.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 

.playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
body {
    margin: 0 auto;

}
*{
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.section {
    height: 100vh;
    font-size: 2rem;
    color: black;
}
.monLogo{
    margin: 0 5%;
    width: 300px;
}

h2 {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

/**/
#home {
    background-color: var(--primary-color);

    
}
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.homeTitle {
    color: var(--secondary-color);
    font-size: 100px;
    position: absolute;
    top: 15%;
    left: 43%;
}

.homeTitleDeco {
    position: absolute;
    top: 22%;
    left: 41%;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: var(--background-color);

}

.homeTitleDeco ul {
    list-style-type: none;
}

.homeImage {
    position: absolute;
    top: 30%;
    left: 30%;
}

.backgroundDecor {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 300px;
    background-color: var(--secondary-color);
}

.autocollant {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: #fff;
    font-family: "Gochi Hand", cursive;
    font-size: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
    outline: 5px solid white;
}

.helloHome {
    top: 32%;
    left: 28%;
}

.scrollAutocollant {
    top: 80%;
    right: 15%;
}

/* About me */
.buttonContainer{
    display: flex;
    flex-direction: column;

}

.button {
    display: inline-block; 
    padding: 10px 30px; 
    margin: 10px;
    font-size: 20px;
    color: white; 
    background-color: #333; 
    border: none;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* Effet de transition */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}

.button:hover {
    background-color: var(--accent-color); 
    color: white;
    transform: scale(1.05);
}

.aboutMeContainer {
    display: flex;
    padding: 0 15%;
}

.aboutMecontent {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.aboutMeTitle {
    font-size: 80px;
    margin-bottom: 0;
}

.aboutMecontent h3 {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
}

.aboutmeText {
    margin: 0 10%;
    font-size: 22px;
    text-align: justify;
}

.aboutMecontentImg {
    display: flex;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutmeImg {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

/**/
/* Compétences */
.logo_conpetences{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 100px;
}
.formationContainer{
   background-color: var(--background-color);
   color: var(--primary-color);
   padding: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.formationContainer h2{
    margin: 0;
}
.formationContainer p{
    margin: 0;
    font-size: 22px;
}

.competencesContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  margin: 0 20%;
}

.competenceItem {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.competenceItem:hover {
  transform: scale(1.05);
  background-color: var(--accent-color);
  cursor: pointer;
}

.competencesTitle{
    font-size: 22px;
}



/**/
/*Projets*/
.projetsContainer{
    padding: 0 10%;
     position: absolute;
}
.projetsCard{
  background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 2%;
    border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.projetsCard:hover{
    background-color: var(--accent-color);
    transform: scale(1.05);
    
}
.projetsContent_img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
   box-shadow: rgba(255, 255, 255) 0px 3px 8px;
}
.projetsTitle{
   font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0
}

.projetsContent{
width: 35%;
padding: 20px 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.projetsContentInfos{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.description{
    padding: 1em;
text-align: justify;
    font-size: 20px;
}
.description p{
     margin: 0;
}

.badgeContainer{

    padding: 10px;
   display: flex;
   align-items: center;

}
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 5px;
  background-color: var(--accent-color2);
  color: #333;
  border-radius: 20px; 
  font-size: 16px;
  font-weight: bold; 
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}

/**/
.decoProjets{
    display: flex;
    align-items: center;
    justify-content: center;
}

.decoProjets ul {
    margin: 0;
    list-style-type: none;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    color: var(--background-color);

}

/**/
/**Footer**/
.decoFooter{
    background-color: var(--secondary-color);
    width: 100%;
    height: 150px;
}
.footerTitle{
    color: var(--background-color);
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-size: 40px;
}
.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 5%;
}
.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
}
.faIcon{
    color: var(--background-color);
}

/*** Responsive ***/
@media only screen and (max-width: 768px) {
    .monLogo{
    margin: 15% 15%;
    width: 200px;
}
.homeTitleDeco {
    top: 15%;
    left: 0;
}
.homeTitle{
    top: 12%;
    left: 26%;
}

.autocollant{
    display: none;
}

/*aboutme*/

.aboutMecontentImg{
 display: none;
}
.aboutMeContainer{
    margin-top: 10%;
}
.aboutMecontent{
     border : 2px solid var(--accent-color);
     width: 100%;
}
.formationContainer h2 {
   font-size: 24px;
}

.competencesContainer{
   grid-template-columns: repeat(2, 1fr);
}

/*Projets*/
.decoProjets{
   margin: 10% 0;
}

/*footer*/
.decoFooter{
    margin-top: 6%;
}

.footerContainer{
    flex-direction: column;
}


}

@media only screen and (max-width: 1024px) {
    .autocollant{
    display: none;
}

    /*aboutme*/
.aboutMeContainer{
    margin-top: 10%;
    flex-direction: column;
}
.aboutMecontent{
    width: 100%;
    border : 2px solid var(--accent-color);
}
.aboutMecontentImg{
 display: none;
}


/*footer*/
.footerContainer{
    flex-direction: column;
}

}