:root {
    --primary-color: #f3ead6;
    --secondary-color: #9e7756;
    --background-color: #ceb39b;
    --accent-color: #f26a6c;
    --accent-color2: #f2d6ce;
}

.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 

.playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
body {
    margin: 0 auto;

}

* {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.monLogo {
    margin: 0 5%;
    width: 300px;
}

h2 {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

/**/
#home {
    background-color: var(--primary-color);
    height: 100vh;

}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.homeTitle {
    color: var(--secondary-color);
    font-size: 100px;
    position: absolute;
    top: 23%;
    left: 30%;
}

.homeTitleDeco {
    position: absolute;
    top: 31%;
    right: 23%;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: var(--background-color);

}

.homeTitleDeco ul {
    margin: 0;
    list-style-type: none;
}

.homeImage {
    position: absolute;
    top: 30%;
    left: 30%;
}

.backgroundDecor {
    margin-top: 23%;
    width: 100%;
    height: 300px;
    background-color: var(--secondary-color);
}

.autocollant {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: #fff;
    font-family: "Gochi Hand", cursive;
    font-size: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    outline: 5px solid white;
}

.helloHome {
    top: 32%;
    left: 28%;
}

.scrollAutocollant {
    top: 80%;
    right: 15%;
}

/* About me */
.buttonContainer {
    display: flex;
    flex-direction: column;

}

.button {
    display: inline-block;
    padding: 10px 30px;
    margin: 10px;
    font-size: 20px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Effet de transition */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}

.button:hover {
    background-color: var(--accent-color);
    color: white;
    transform: scale(1.05);
}

.aboutMeContainer {
    display: flex;
    padding: 0 15%;
}

.aboutMecontent {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.aboutMeTitle {
    font-size: 80px;
    margin-bottom: 0;
}

.aboutMecontent h3 {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
}

.aboutmeText {
    margin: 0 10%;
    font-size: 22px;
    text-align: justify;
    hyphens: auto;
}

.aboutMecontentImg {
    display: flex;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutmeImg {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

/**/
/* Compétences */
#competences{
background-image: url('../style/img/fondFormation.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}
.logo_conpetences {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 100px;
}

.formationContainer {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formationContainer h2 {
    margin: 0;
    font-size: 48px;
}

.formationContainer p {
    margin: 0;
    font-size: 22px;
}

.competencesContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10% 20%;

}

.competenceItem {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 0.2s ease-in-out;
}

.competenceItem:hover {
    transform: scale(1.05);
    background-color: var(--accent-color);
    cursor: pointer;
}

.competencesTitle {
    font-size: 22px;
}



/**/
/*Projets*/
.titleHidden {
    display: none;
    font-size: 48px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#projets {
    background-color: var(--background-color);
    height: auto;
}

.projetsContainer {
    max-width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10%;

}

.projetsCard_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.projetsCard {
    width: 600px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.projetsCard:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
    cursor: pointer;
}

.projetsContent_img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255) 0px 3px 8px;
    transition: filter 0.5s ease;
}

.projetsCard:hover img{
    filter: grayscale(100%);
}
.projetsTitle {
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0;
}

.projetsContent {
    width: 25%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projetsContentInfos {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.description {
    padding: 1.5em;
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
}

.description p {
    margin: 0;
}

.badgeContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 15px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    background-color: white;
    color: #333;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.decoProjets {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.decoProjets ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color: var(--primary-color);
}



/**/
/**Footer**/
.decoFooter {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 150px;
}

.footerTitle {
    color: var(--background-color);
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-size: 40px;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 5%;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
}

.footerContent p {
    margin: 0;
}

.faIcon {
    color: var(--background-color);
}

/*** Responsive ***/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #home {
        height: auto;
    }

    .monLogo {
        margin: 15% 15%;
        width: 200px;
    }

    .homeImage {
        width: 300px;
        top: 10%;
        left: auto;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
     .homeTitle {
        font-size: 48px;
        top: 20%;
        left: 50%;
       
    }
    

    .backgroundDecor {
        height: 150px;
    }

    /*AboutMe*/
    .aboutMeTitle{
        font-size: 48px;
    }
    .aboutmeText {
        height: 200px;
        width: 100%;
        overflow-y: scroll;
        padding: 10px;
        background-color: #f9f9f9;

    }

    .aboutMecontent {
        border: none;
    }

    .aboutMeContainer {
        padding: 0 8%;
    }

    /**/
    .competencesContainer {
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 0 5%;
    }

    .competenceItem {
        padding: 0;
    }

    .competencesTitle {
        font-size: 20px;
    }

    /*Projets*/
    .projetsCard {
        flex-direction: column;
    }

    .projetsContentInfos {
        width: 100%;
    }

    .badgeContainer {
        padding-bottom: 5px;
    }

    /**/


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {


    .monLogo {
        margin: 0;
    }
   

    .homeImage{
        left: auto;
    }

    .autocollant {
        display: none;
    }

    /*aboutme*/

    .aboutMecontentImg {
        display: none;
    }

    .aboutMecontent {
        border: 2px solid var(--accent-color);
        width: 100%;
    }

    .formationContainer h2 {
        font-size: 30px;
    }


    /*Projets*/

    .decoProjets {
        display: none;
    }

    .projetsCard {
        width: auto;
    }

    .projetsContent {
        width: auto;
    }


    /*footer*/


    .footerContainer {
        flex-direction: column;

    }


}

@media only screen and (max-width: 1024px) {
    .section {
        min-height: 500px;
    }

    .autocollant {
        display: none;
    }

    .homeTitleDeco {
        display: none;
    }
    
    .homeTitle{
        font-size: 80px;
        color: white;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*aboutme*/
    .aboutMeContainer {
        padding: 5% 15%;
        flex-direction: column;
    }

    .aboutMecontent {
        width: 100%;
        padding: 30px;
        border: 2px solid var(--accent-color);
    }

    .aboutMecontentImg {
        display: none;
    }

    /*Projets*/

    .projetsContainer {
        padding: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titleHidden {
        display: flex;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }

    .decoProjets {
        display: none;
    }

    /*footer*/
    .footerContainer {
        flex-direction: column;
        gap: 15px;
    }

}