/* src/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 1000;
 
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-left: 70%;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color:#9e7756;
  cursor: pointer;
  font-family: "Playfair", serif;
  font-weight: 800;
  font-size: 20px;

}

.navbar.scroll {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  background-color: #f3ead6;
}

.navbar h1 {
  color:black;
}
